<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>{% if materiel %}Modifier{% else %}Ajouter{% endif %} un matériel</title>
</head>
<body>

<h1>{% if materiel %}Modifier{% else %}Ajouter{% endif %} un matériel</h1>

<form method="post" novalidate>
    {% csrf_token %}

    <p>
        {{ form.code_inventaire.label_tag }}
        {{ form.code_inventaire }}
    </p>

<p>
    {{ form.date_service.label_tag }}
    <input type="date" name="date_service" value="{{ form.date_service.value|date:'Y-m-d' }}">
</p>

    <p>
        {{ form.designation.label_tag }}
        {{ form.designation }}
    </p>

    <p>
        {{ form.description.label_tag }}
        {{ form.description }}
    </p>

    <p>
        {{ form.prix_ht_mad.label_tag }}
        {{ form.prix_ht_mad }}
    </p>

    <p>
        {{ form.fournisseur.label_tag }}
        {{ form.fournisseur }}
    </p>

    <p>
        {{ form.etat_article.label_tag }}
        {{ form.etat_article }}
    </p>

    <p>
        {{ form.lieu_affectation.label_tag }}
        {{ form.lieu_affectation }}
    </p>

    <p>
        {{ form.observations.label_tag }}
        {{ form.observations }}
    </p>

    <p>
        {{ form.affecte_a.label_tag }}
        {{ form.affecte_a }}
    </p>

    <button type="submit">
        {% if materiel %}Modifier{% else %}Ajouter{% endif %}
    </button>
    <a href="{% url 'materiel:materiel_list' %}">Annuler</a>
</form>

</body>
</html>