<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Liste des équipements</title>
</head>
<body>
    <h1>Liste des équipements</h1>
   <a href="{% url 'equipements:export_excel_equipement' %}" class="inline-flex items-center gap-2 bg-[#7965BF] hover:bg-[#7578BF] text-white font-semibold py-2 px-4 rounded-xl shadow-md transition">
     Exporter en Excel
</a>
    <p>
        <a href="{% url 'equipements:equipement_create' %}">➕ Ajouter un équipement</a>
    </p>
    <table border="1" cellspacing="0" cellpadding="5">
        <thead>
            <tr>
                <th>N° Série</th>
                <th>Code N° Inventaire</th>
                <th>Date de service</th>
                <th>Désignation</th>
                <th>Description</th>
                <th>Prix HT (MAD)</th>
                <th>Fournisseur</th>
                <th>N° Facture</th>
                <th>Garantie</th>
                <th>Statut</th>
                <th>Public</th>
                <th>Lieu</th>
                <th>Utilisateur</th>
                <th>Observations</th>
                <th>Historique</th>
                <th>🛠 Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for eq in equipements %}
            <tr>
                <td>{{ eq.sn_article }}</td>
                <td>{{ eq.code_inventaire }}</td>
                <td>{{ eq.date_service|date:"d/m/Y" }}</td>
                <td>{{ eq.designation }}</td>
                <td>{{ eq.description }}</td>
                <td>{{ eq.prix_ht_mad }}</td>
                <td>{{ eq.fournisseur }}</td>
                <td>{{ eq.numero_facture }}</td>
                <td>{{ eq.date_garantie|date:"d/m/Y" }}</td>
                <td>
                    {% if eq.reparation %}
                        En panne
                    {% elif eq.operation == 'maintenance' %}
                        Maintenance
                    {% else %}
                        Affecté
                    {% endif %}
                </td>
                <td>{% if eq.is_public %}Oui{% else %}Non{% endif %}</td>
                <td>{{ eq.get_lieu_affectation_display }}</td>
                <td>{{ eq.utilisateur }}</td>
                <td>{{ eq.observations }}</td>
                <td></td>
                <td>
                    <a href="{% url 'equipements:equipement_update' eq.pk %}">✏️ Modifier</a><br>
                    <a href="{% url 'equipements:equipement_delete' eq.pk %}" onclick="return confirm('Confirmer la suppression ?');">🗑 Supprimer</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="15">Aucun équipement trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>